
    <form [formGroup]="itemFormGroups" id="item_form">
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName="name" />
        <label for="description">Description: </label>
        <input id="description" type="text" formControlName="description" />
        <label for="price">Price: </label>
        <input id="price" type="text" formControlName="price" />
        <label for="imgSrc">Image URL: </label>
        <input id="imgSrc" type="text" formControlName="imgSrc" />
        <div class="btncotainer">
          <button
            mat-mini-fab
            color="accent"
            aria-label="Example icon button with a plus one icon"
            (click)="addItem()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button
          mat-mini-fab
          color="accent"
          aria-label="Example icon button with a plus one icon"
          (click)="closeDialog()"
        >
          <mat-icon>close</mat-icon>
        </button>
        </div>
      </form>



